body {
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  width: 100%;
  height: 100%;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  color: #fff;
}

.title {
  text-transform: uppercase;
  line-height: 150px;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 200px;
  font-weight: 100;
  text-align: center;
      color: black;
      word-break: keep-all;
  }

  .subtitle {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
        color: black;
  }

.title #a
{
  letter-spacing: -30px;
}
.title #b
{
  letter-spacing: -32.5px;
}
.title #c
{
  letter-spacing: -47px;
}

.limit{
  height: 160px;
}

.icons{
  margin-top: 35%;
  text-align: center;
  color: black;
}

.icons #title
{
font-weight: 500;
}

.icons img{
  width: 150px;
  height: 150px;
  display:block;
margin:auto;
}

span.text-content {
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display:block;
  margin:auto;
  position: relative;
  top: -150px;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
-webkit-transition: opacity 350ms;
-moz-transition: opacity 350ms;
-o-transition: opacity 350ms;
transition: opacity 350ms;
}

span strong {
  font-weight: 700
}

span p {
  font-weight: 300;
}

.text-content:hover {
  opacity: 1;
}

/* unvisited link */
a:link {
    color: #00FFEE;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #00C3FF;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #BDFEFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #00E1FF;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
  body  {
    background-image: url("../img/background-mobile.jpg");
  }

  .title {
    margin-top: 10px;
    font-size: 120px;
    line-height: 90px;
  }

  .title #a
  {
    letter-spacing: -20px;
  }
  .title #b
  {
    letter-spacing: -20px;
  }
  .title #c
  {
    letter-spacing: -30px;
  }

  .subtitle{
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
  }

}

  @media only screen and (max-width: 450px) {

    body  {
      background-image: url("../img/background-mobile.jpg");
    }

    .title {
      margin-top: 10px;
      font-weight: 700;
      font-size: 60px;
      line-height: 55px;
    }

    .title #a
    {
      letter-spacing: 0px;
    }
    .title #b
    {
      letter-spacing: 0px;
    }
    .title #c
    {
      letter-spacing: 0px;
    }

    .subtitle{
      font-weight: 400;
      font-size: 15px;
      margin-top: 0px;
    }
  }
