body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

.coming-soon  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1{
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 5px;
}

h3{

    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1px;

}

.sel-help-box  {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
}

.sel-help-box  p {
	letter-spacing: 1px;

	color: #BABABA;
}

/* unvisited link */
a:link {
    color: #00FFEE;
}

/* visited link */
a:visited {
    color: #00C3FF;
}

/* mouse over link */
a:hover {
    color: #BDFEFF;
}

/* selected link */
a:active {
    color: #00E1FF;
}
	