body {
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  width: 100%;
  height: 100%;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  color: #fff;
}

.title {
  text-transform: uppercase;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 200px;
  font-weight: 100;
  text-align: center;
      color: black;
  }

  .subtitle {
    text-transform: uppercase;
    margin-top: -40px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
        color: black;
  }

.title #a
{
  letter-spacing: -30px;
}
.title #b
{
  letter-spacing: -32.5px;
}
.title #c
{
  letter-spacing: -47px;
}

.icons
{
  margin-top: 20%;
  text-align: center;
  color: black;
}

.icons #title
{
font-weight: 500;
}

span.text-content {
  background: rgba(0,0,0,0.75);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
-webkit-transition: opacity 350ms;
-moz-transition: opacity 350ms;
-o-transition: opacity 350ms;
transition: opacity 350ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span strong {
  font-weight: 700
}

span p {
  font-weight: 300;
}

.text-content:hover {
  opacity: 1;
}

/* unvisited link */
a:link {
    color: #00FFEE;
}

/* visited link */
a:visited {
    color: #00C3FF;
}

/* mouse over link */
a:hover {
    color: #BDFEFF;
}

/* selected link */
a:active {
    color: #00E1FF;
}


@media only screen and (max-width: 767px) {
  body  {
    background-image: url("../img/background-mobile.jpg");
  }

  .title {
    margin-top: 10p
    font-weight: 700;
    font-size: 40px;
  }

  .title #a
  {
    letter-spacing: 0px;
  }
  .title #b
  {
    letter-spacing: 0px;
  }
  .title #c
  {
    letter-spacing: 0px;
  }

  .subtitle{
    font-size: 20px;
    margin-top: 0px;
  }
